

.shuffle, .repeat {
    color: #00ff00;
    
}

.shuffle:hover, .repeat:hover, .icons:hover, .playList:hover, .favorite:hover, .more:hover {
    transform: scale(1.2) !important;
    transition: transform 200ms ease-out;
}